<div class="container-fluid footerBar">
    <div class="container">
        <div class="row">
            <div class="col-md-4 toRight">
                    <a class="paragraphLower" href="/">Home</a> <br>
                    <a class="paragraphLower" href="/about-us">About Uni Bites</a> <br>
            </div>

            <div class="col-md-4 toRight">
                    <a class="paragraphLower" href="/careers">Careers</a> <br>
                    <a class="paragraphLower" href="/privacy-policy">Privacy Policy</a> <br>
            </div>
            <div class="col-md-4 toRight socialMedia">
                    <a href="https://www.facebook.com/Uni-Bites-2463469143877653/?ref=page_internal" class="fa fa-facebook fa-3x" id="facebookIcon"></a>
                    <a href="https://www.instagram.com/bitesuni" class="fa fa-instagram fa-3x" id="instagramIcon"></a>
                    <a href="https://twitter.com/BitesUni" class="fa fa-twitter fa-3x" id="twitterIcon"></a>
            </div>
        </div>
    </div><!-- /container -->
</div>

<!-- COPYRIGHT (not in container so that bgcolor extends to whole screen)-->
<div class="row bgFooterCopyright">
    <div class="footerCopyright">
        &copy; Copyright Uni-Bites.com. All rights reserved.
    </div>
</div>


