{{!< no-header}}

<div class="container">

    <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
            <h1 class="headline centered">Uni-Bites</h1>
            <h3 class="title centered">About Us</h3>
        </div>
    </div>

    <div class="row">
        <hr class="bar mt">
    </div>

    <div class="row">
        <p class="centered paragraphLower" id="Paragraph1">Uni-Bites is a web-app that compares, contrasts and presents the cafe and deli services on the NUI Galway campus in a format aimed to save students money, while supporting friendly businesses. We provide graphical tools for researching, and comparing coffee, sandwich, and small snack prices around campus. Let's face it, it's not easy being a college student these days: drowning in debt, endless work hours, all while working on a small budget, so they can get all the help they can.</p>
        <p class="centered paragraphLower" id="Paragraph2">Our team of modern college students work hard to help present the most reliable data and up-to-date references about their experiences of the cafes and delis on the NUI Galway campus. We hope we can help you immensely on your financial journey.</p>
    </div>
</div>

{{> footer}}