<div class="container">

    <div class="row mt">
        <div class="col-sm-4 col-sm-offset-4">
            <h1 class="headline centered">Uni-Bites</h1>
            <h3 class="title centered">Careers</h3>
        </div>
    </div>

    <div class="row">
        <div class="mt">
            <hr class="bar mt">
        </div>
    </div>

    <div class="row spacing">
        <div class="col-sm-8 col-sm-offset-2">
            <h1 class="titleLower centered">No Positions Open</h1>
            <p class="paragraphLower centered">Check back later if you are interested in joining our team.</p>
        </div>
    </div>
</div>