{{#contentFor "pageScripts"}}
<script src="/javascripts/index.js"></script>
{{/contentFor}}

{{#contentFor "pageStyles"}}
<link href="/stylesheets/index.css" rel="stylesheet">
{{/contentFor}}

<div id="headerwrap  main-color">
    <div class="container-fluid">

        <!-- Header image-->
        <div class="row centered backgroundimg">
            <div class="col-md-9 col-md-offset-2">

                <!-- Search Bar-->

                <div class="row">
                    <div class="col-xs-10">
                        <div class="input-group" id="searchbar">
                            <input type="text" autocomplete="off" class="live-search-box form-control search_bar dropdown-toggle" data-toggle="dropdown" placeholder="Search" name="search">

                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default btn-lg pull-left dropdown-toggle search_button" data-toggle="dropdown">
                                    <span class="caret"></span> Search
                                </button>
                                <ul class="dropdown-menu live-search-list searchDrop">
                                    <li><a href="/search">Coffee</a></li>
                                    <li><a href="/search">Tea</a></li>
                                    <li><a href="/search">Sandwiches</a></li>
                                    <li><a href="/search">Latte</a></li>
                                    <li><a href="/search">Salad</a></li>
                                    <li><a href="/search">Scone</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>


            </div></div>

        <!-- Reviews-->
        <div class="container">
            <div class="row mt">

                <div class="col-lg-6">
                    <h1 class="headline alignText">Most Recent Reviews</h1>
                </div>

            </div>

            <div id="recentReviews" class="row">

                <div class="col-lg-3 col-xs-7 col-lg-offset-0 col-xs-offset-2 toRight">
                    <h1 class="subHeaderLower">Johnny Appleseed</h1>
                    <p class="captionLower">Lorem ipsum...</p>
                </div>

                <div class="col-xs-1"></div>

                <div class="col-lg-3 col-xs-7 col-lg-offset-0 col-xs-offset-2 toRight">
                    <h1 class="subHeaderLower">Johnny Appleseed</h1>
                    <p class="captionLower">Lorem ipsum...</p>
                </div>

                <div class="col-xs-1"></div>

                <div class="col-lg-3 col-xs-7 col-lg-offset-0 col-xs-offset-2 toRight">
                    <h1 class="subHeaderLower">Johnny Appleseed</h1>
                    <p class="captionLower">Lorem ipsum...</p>
                </div>

            </div>
        </div>

        <!-- Favourites-->
        <div class="wrap">
            <div class="row mt">

                <a href="/search">
                    <div class="col-lg-3 col-xs-10 quickBox">
                        <p class="subHeaderLower">Cheapest Coffee</p>
                    </div>
                </a>

                <div class="col-xs-1"></div>

                <a href="/search">
                    <div class="col-lg-3 col-xs-10 col-lg-offset-0 col-xs-offset-0 quickBox">
                        <p class="subHeaderLower">Cheapest Tea</p>
                    </div>
                </a>

                <div class="col-xs-1"></div>

                <a href="/search">
                    <div class="col-lg-3 col-xs-10 col-lg-offset-0 col-xs-offset-0 quickBox">
                        <p class="subHeaderLower">Cheapest Hot Chocolate</p>
                    </div>
                </a>

            </div>

            <div class="row mt">

                <a href="/search">
                    <div class="col-lg-3 col-xs-10 col-lg-offset-0 col-xs-offset-0 quickBox">
                        <p class="subHeaderLower">Cheapest Scones</p>
                    </div>
                </a>

                <div class="col-xs-1"></div>

                <a href="/search">
                    <div class="col-lg-3 col-xs-10 col-lg-offset-0 col-xs-offset-0 quickBox">
                        <p class="subHeaderLower">Cheapest Sandwich</p>
                    </div>
                </a>

                <div class="col-xs-1"></div>

                <a href="/search">
                    <div class="col-lg-3 col-xs-10 col-lg-offset-0 col-xs-offset-0 quickBox">
                        <p class="subHeaderLower">Best Service</p>
                    </div>
                </a>

            </div>

        </div>


        <!-- Sponsors-->
        <div class="container">
            <div class="row mt">

                <div class="col-lg-6">
                    <h1 class="headline alignText">Our Sponsors</h1>
                </div>

            </div>

            <div class="row mt">

                <div class="col-lg-3 col-xs-10 col-lg-offset-0 col-xs-offset-1 toRight">
                    <a href="#">
                        <img class="img-responsive" src="images/sult.jpg" alt="">
                    </a>
                </div>

                <div class="col-xs-1"></div>

                <div class="col-lg-3 col-xs-10 col-lg-offset-0 col-xs-offset-1 toRight">
                    <a href="#">
                        <img class="img-responsive" src="images/smokeys.jpg" alt="">
                    </a>
                </div>

                <div class="col-xs-1"></div>

                <div class="col-lg-3 col-xs-10 col-lg-offset-0 col-xs-offset-1 toRight">
                    <a href="#">
                        <img class="img-responsive" src="images/wall.jpg" alt="">
                    </a>
                </div>

            </div>
        </div>
    </div>