{{!< no-header}}

<div class="container">

    <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
            <h1 class="headline centered">Uni-Bites</h1>
            <h3 class="title centered">Search Results</h3>
        </div>
    </div>

    <div class="row">
        <div class="mt">
            <hr class="bar mt">
        </div>
    </div>

    <div class="container">
            <div class="row mt left ">
                <div class="col-sm-6">
            <h1>Coffee</h1>
            <h3> An Bialann - 2.00 </h3>
            <h3> Smokeys - 2.30 </h3>
            <h3> Sult - 2.10</h3>
            <h3> Friars - 2.00</h3>
            <h3> The Wall - 2.40 </h3>
            <h3> Caife na Gaeilge - 2.60 </h3>
                </div>

             <div class="row-sm-6 col-sm-offset-8">
             <h1>Tea</h1>
            <h3> An Bialann - 1.00</h3>
            <h3> Smokeys - 1.30</h3>
            <h3> Sult- 1.10 </h3>
            <h3> Friars - 1.00 </h3>
            <h3> The Wall - 1.00</h3>
            <h3> Caife na Gaeilge- 1.20 </h3>
                </div>
            </div>
        </div><!-- /container -->
     <div class="container">
            <div class="row mt left ">
                <div class="col-sm-6">
            <h1>Sandwiches</h1>
            <h3> An Bialann - 3.95 </h3>
            <h3> Smokeys - 5.00</h3>
            <h3> Sult - 4.00</h3>
            <h3> Friars - 4.95</h3>
            <h3> The Wall - 4.95</h3>
            <h3> Caife na Gaeilge - 4.95 </h3>
                </div>

            <div class="row-sm-6 col-sm-offset-8">
             <h1>Latte</h1>
            <h3> An Bialann - 2.00 </h3>
            <h3> Smokeys - 2.30</h3>
            <h3> Sult - 1.80</h3>
            <h3> Friars - 2.30 </h3>
            <h3> The Wall - 2.00</h3>
            <h3> Caife na Gaeilge - 1.90 </h3>
                </div>
            </div>
        </div><!-- /container -->
     <div class="container">
            <div class="row mt left ">
                <div class="col-sm-6">
            <h1>Salad</h1>
            <h3> An Bialann - 6.00</h3>
            <h3> Smokeys - 5.30</h3>
            <h3> Sult - 4.80</h3>
            <h3> Friars - 5.50 </h3>
            <h3> The Wall - 4.95 </h3>
            <h3> Caife na Gaeilge - 6.20 </h3>
                </div>

                <div class="row-sm-6 col-sm-offset-8">
             <h1>Scone</h1>
            <h3> An Bialann - 2.00</h3>
            <h3> Smokeys - 2.00</h3>
            <h3> Sult - 1.50</h3>
            <h3> Friars - 2.00</h3>
            <h3> The Wall - 2.00 </h3>
            <h3> Caife na Gaeilge - 1.90</h3>
                </div>
            </div>
        </div><!-- /container -->
</div>

{{> footer}}